{% extends 'base.html' %}

{% block title %}
PriceGolem :: Add Item
{% endblock %}

{% block content %}
    <div class="auth-page">
        <h2 class="content-header">Add Item:</h2>
        <div class="auth-content">
            <form action="{{ url_for('add_submit') }}" method="post">
                <input type="text" name="link" id="link" placeholder="Link"><br>
                <input type="text" name="price" id="price" placeholder="Buy Price"><br>
                <button type="submit" class="submit">Add Item</button>
            </form>
        </div>
    </div>
{% endblock %}