<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://kit.fontawesome.com/e442a36db5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <header class="logo">
            <span class="title">PriceGolem</span><br>
            <span class="subtitle">Your favorite golem price checker :).</span>
        </header>
        <nav>
            <ul>
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('index') }}"><li>Home</li></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('items') }}"><li>Home</li></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('add') }}"><li>Add Item</li></a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}"><li>Login</li></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}"><li>Profile</li></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}"><li>Logout</li></a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('signup') }}"><li>Signup</li></a>
                {% endif %}
                <!-- {% if current_user.is_authenticated %}
                <form action="{{ url_for('test_price_check') }}" method="post">
                <li><button type="submit">Refresh Prices</button></li>
                </form>
                {% endif %} -->
            </ul>
        </nav>
    </div>
    {% block content %} {% endblock %}
</body>
</html>