{% extends 'base.html' %}

{% block title %}
PriceGolem :: Home
{% endblock %}

{% block content %}
    <hr>
    {% for item in items %}
        <div class="item">
            <div class="item_image">
                <img src="{{ item['imageurl'] }}" alt="Image of {{ item['title'] }}" class="item_image">
            </div>
            <div class="item_details">
                <h2>{{ item['title'] }}</h2>
                <p>Buy Price: {{ item['buy_price'] }}</p>
                <p>Current Price: {{ item['selling_price'] }}</p>
                <p>Link: <a href="{{ item['link'] }}" target="_blank">{{ item['title'] }}</a></p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}